.navbar{
  background-color: #ffc4cd;
}

.navbar-brand{
  color:#787677 

}

.navbar-nav .nav-item .nav-link{
  color:#787677 

}

body{
  background: radial-gradient(circle, rgba(250,232,242,0.9864320728291317) 3%, rgba(255,255,255,1) 79%);
}

h3{
  text-align: center;
}
#guardar{
  background-color: #E484B4;
  border-color: #E484B4;
}

.container{
  margin-top: 7%;
}